.ortala{
    text-align: center;
}
.backgroundcolorr{
    background-color: #EEEEEE;
    
    margin: auto;
}
.box{
    width: 1150px;
    height: 68px;
}
.buttontext{
    margin: auto 90px auto;
}
.box1{
   
    background-color: #7EE5DA;
    text-align: center;
 
    width: 420px;
    height:64px ;
    float: left;
    margin-left: 57px;
    margin-top: 2px;
    padding-top: 10px;
    margin-bottom: 20px ;
    
    
    
}
.box2{
    
    background-color:  #70CCC2;
    float:left;
    width: 245px;
    height:74px ;
    margin: 2px 2px 0;
    padding-left: 20px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px ;
}
.box3{
    text-align: center;
    background-color:#62b3aa;
    float:left;
    width: 461px;
    height:74px ;
    margin-top: 2px;
    font-size: 12px;
    margin-bottom: 20px ;
}

